<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <%= link_to admin_path do %>
        <%= image_tag "https://www.thetipsytale.com/cdn/shop/files/Group_265_1.png?v=1698503224&width=240", width: 110, height: 32, alt: "Tabler", class: "navbar-brand-image" %>
      <% end %>
    </h1>
    
      <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0 dropdown-toggle" id="navbarDropdown" role="button" aria-label="Open user menu">
          <span class="avatar avatar-sm" style="background-image: url(<%= current_admin.avatar.url %>)"></span>
          <div class="d-none d-xl-block ps-2">
            <div><%= current_admin.name %></div>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" aria-labelledby="navbarDropdown">
          <li><%= link_to 'Profile & account', admin_profile_index_path, class: 'dropdown-item' %></li>
          <li><%= button_to "Logout", destroy_admin_session_path, method: :delete, class: 'dropdown-item' %></li>
        </ul>
      </div>

    </div>
  </div>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const dropdownToggle = document.getElementById('navbarDropdown');
  const dropdownMenu = document.querySelector('.dropdown-menu');

  dropdownToggle.addEventListener('click', (event) => {
    event.preventDefault();
    dropdownMenu.classList.toggle('show');
  });

  document.addEventListener('click', (event) => {
    if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
      dropdownMenu.classList.remove('show');
    }
  });
});
</script>